<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/LoginStyle.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
</body>
</html>
